.styleTextForNavbar
{
    color:#FAED25;
    font-family:monospace;
    font-size:24px;
    margin-right:40px;
    
}
.styleTextForLogoNavbar
{
    color:#FAED25;
    font-family:Tapestry;
    font-size:24px;
    margin-left:25px;
}
.styleTextForBigLogo
{
    color:#FAED25;
    font-family:Tapestry;

}
.styleTextForH1
{
    color:#FAED25;
    font-family:Tapestry;
    font-size:24px;
    margin-left:2%;
}
.styleText
{
    color:white;
    font-size:24px;
    margin-left:20px;
}
.styleForLabel
{
    color:white;
}
.styleForNameMedia
{
    font-size:24px;
    color:white;
}
.styleTextForCard
{
    color:white;
    font-size:16px;
}
