.styleTextForNavbar
{
    color:#FAED25;
    font-family:monospace;
    font-size:24px;
    margin-right:40px;
    
}
.styleTextForLogoNavbar
{
    color:#FAED25;
    font-family:Tapestry;
    font-size:24px;
    margin-left:25px;
}
.styleTextForBigLogo
{
    color:#FAED25;
    font-family:Tapestry;

}
.styleTextForH1
{
    color:#FAED25;
    font-family:Tapestry;
    font-size:24px;
    margin-left:2%;
}
.styleText
{
    color:white;
    font-size:24px;
    margin-left:20px;
}
.styleForLabel
{
    color:white;
}
.styleForNameMedia
{
    font-size:24px;
    color:white;
}
.styleTextForCard
{
    color:white;
    font-size:16px;
}
.mainBtn
{
    background-color:#46344E;
    border-radius:6px;
    border-color:#46344E;
    border:3px;
    padding: 6px 18px;
    color:white;
}
.mainBtn:hover
{
    border:none;
    color:black;
    background-color:#FAED25;
    
}
